table {
    width: 75%;
    border: 2px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

thead {
    border: 2px solid;
    background-color: royalblue;
    border-color: black;
}

th {
    border: 2px solid;
    border-collapse: collapse;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    height: 50px;

    color: white;
    padding: 10px;
}

td {

    border: 2px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {background-color: antiquewhite;}