.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.login-input{
    height: auto;
    width: 200px;
    padding: 5px;
    margin: 10px;
}

.login-button {
    margin-top: 20px;
}