.nav-bar {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
}

.nav-bar-name {
    margin-right: auto;
}

.nav-bar>li {
    margin-left: 25px;
}

.nav-bar-line {
    border-bottom: 1px solid grey;
}

<<<<<<< HEAD
.carousel {
    margin-top: 2rem;
}

.buy-btn {
    margin-left: 45rem;
    margin-top: 2rem;
    height: 50px;
    width: 100px;
=======
.profile {
    height: 30px;
    width: auto;
>>>>>>> 98ac4c9cb529c8b03802fc75f0899823e9d0efce
}